<form class="uk-form uk-text-left uk-margin-uk-card uk-card-default uk-card-body" action="/add-category" method="POST">

   <legend class="uk-legend"> <i class="far fa-compass fa-1x" style="color:rgb(241,113,4)"></i>
      Add New Category
   </legend>

   <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Enter name of new category" name="category">
   </div>

   <div class="uk-width-1-2@m">
      <button class="uk-button uk-button-primary uk-button-medium  uk-border-rounded uk-width-1-3">Add</button>
   </div>
</form>
{{> error }}


