<form class="uk-form-stacked uk-text-left uk-margin-uk-card uk-card-default uk-card-body" action="/castles/addPOI" method="POST">
   <fieldset class="uk-fieldset">

      <legend class="uk-legend"> <i class="far fa-compass fa-1x" style="color:rgb(241,113,4)"></i>
         Add New Point of Interest
      </legend>

      <div class="uk-margin">
         <p>Select Category</p>
         <select class="uk-select">
            <option>Option 01</option>
            <option>Option 02</option>
            <option>Option 03</option>
            <option>Option 04</option>
         </select>
      </div>

      <div class="uk-margin">
         <input class="uk-input" type="text" placeholder="Enter POI here" name="poi">
      </div>

      <div class="uk-margin">
         <input class="uk-input" type="text" placeholder="POI Description" name="description">
      </div>

      <div class="uk-margin">
         <input class="uk-input" type="text" placeholder="Enter location here" name="location">
      </div>

   </fieldset>

   <div class="uk-width-1-2@m">
      <button class="uk-button uk-button-primary uk-button-medium  uk-border-rounded uk-width-1-3">Add</button>
   </div>

</form>


