<div class="uk-width-1-2@m uk-width-1-2@s">
   <!-- Navigation -->
   <div class="uk-subnav uk-subnav-divider uk-flex uk-flex-center uk-flex-left@m uk-flex-left@s uk-padding-small">
      <li><a href="/home">Profile</a></li>
   </div>
</div>
<div class="uk-width-1-2@m uk-width-1-2@s uk-visible@s uk-padding-small">
   <div class="uk-flex uk-flex-right">
      <a href="/settings"><i class="uk-margin-small-right fas fa-user-cog fa-2x" style="color:rgb(11,126,229)" title="Settings"></i></a>
      <a href="/report" class="k-button uk-button-default uk-button-small uk-border-rounded uk-margin-small-right">REPORT</a>
      <a href="/logout" class="uk-button uk-button-primary uk-button-small uk-border-rounded">Logout</a>
   </div>
</div>
<div class="uk-width-1-1">
   <hr class="uk-margin-remove-top">
</div>