<div class="uk-width-1-2@m uk-width-1-2@s">
   <!-- Navigation -->
   <div class="uk-subnav uk-subnav-divider uk-flex uk-flex-center uk-flex-left@m uk-flex-left@s uk-padding-small">
      <li><a href="/about">About</a></li>
      <li> <a href="/"><i class="fas fa-home fa-2x" style="color:rgb(160,162,168)" title="Home"></i><span>Home</span></a></li>
   </div>
</div>
