<div class="uk-section uk-padding-remove-vertical uk-grid">
   {{> nav-bar-left }}
   {{> welcome-nav }}
</div>
<div class="uk-card uk-card-hover uk-child-width-*@s uk-flex-center uk-flex-middle uk-text-left uk-margin-small uk-padding-small">
   <div class="uk-vertical-align-center uk-width-1-1">
      <h1 class="uk-heading-divider">Ireland is home to over 30,000 castles. Say what?</h1>
      <p class="uk-text-medium">
         Yes, there are several castles in Ireland that even locals already lost count and it’s probably one of the things that Ireland is famous for.<br>
         These castles were built as early as the 10th century and although most of them have already seen their days, these castle ruins still possess the grandeur they once had. There are also few castles that have been restored and still standing proudly up to this day.
         These castles are scattered all throughout Ireland and it’s hard to decide which castles to prioritize.
      </p>
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

         <ul class="uk-slideshow-items">
            <li>
               <img src="images/grannagh-castle-kilkenny.jfif" alt="" uk-cover>
            </li>
            <li>
               <img src="images/kylemore-abbey-castle.jpg" alt="" uk-cover>
            </li>
            <li>
               <img src="images/Bunratty-Castle-in-Ireland.jpg" alt="" uk-cover>
            </li>
            <li>
               <img src="images/kilkenny-castle.jpg" alt="" uk-cover>
            </li>
            <li>
               <img src="images/Rock-of-Cashel.jpg" alt="" uk-cover>
            </li>
            <li>
               <img src="images/trim-castle-ireland.jpg" alt="" uk-cover>
            </li>
            <li>
               <img src="images/Ross-Castle-Kerry.jpg" alt="" uk-cover>
            </li>
         </ul>
         <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
         <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
      </div>
      <p class="uk-article-meta">Built by Ian Hutchinson (2021). Repo on <a href="https://github.com/Irhutchi">Github</a></p>
   </div>
</div>

