<div class="uk-section uk-padding-remove-vertical uk-grid">
   {{> nav-bar-left }}
   {{> welcome-nav }}
</div>
<a class="weatherwidget-io" href="https://forecast7.com/en/52d26n7d11/waterford/" data-label_1="WATERFORD" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="clear" >WATERFORD WEATHER</a>
<script>
   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<div class="uk-container uk-margin">
   <div class="uk-card uk-card-hover uk-child-width-*@s uk-flex-center uk-flex-middle uk-text-center uk-margin-small uk-padding-small" uk-grid>
      <h1 class="uk-background-muted uk-padding uk-panel uk-text-center">Welcome to Irish Heritage and Castles</h1>
      <div class="uk-width-1-2@m">
         <img width="600" src="images/castle-blarney-ireland-stone.jpg" alt="Blarney Castle" />
      </div>
      <div class="uk-width-1-2@m uk-text-middle">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam etiam erat velit scelerisque in. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Duis convallis convallis tellus id interdum velit laoreet. Nullam ac tortor vitae purus faucibus ornare. Lacinia quis vel eros donec ac odio tempor orci. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Quisque sagittis purus sit amet volutpat consequat mauris nunc. Diam vulputate ut pharetra sit amet aliquam id. Vestibulum sed arcu non odio. Mi proin sed libero enim sed faucibus turpis. Urna nec tincidunt praesent semper feugiat nibh. Eget nullam non nisi est sit amet. Vel pharetra vel turpis nunc eget lorem dolor. Arcu ac tortor dignissim convallis. Augue eget arcu dictum varius duis at consectetur. Auctor augue mauris augue neque gravida.
         </p>
         {{> error }}
      </div>
   </div>
</div>
