<div class="uk-section uk-padding-remove-vertical uk-grid">
   {{> nav-bar-left }}
   {{> welcome-nav }}
</div>
<a class="weatherwidget-io" href="https://forecast7.com/en/52d26n7d11/waterford/" data-label_1="WATERFORD" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="clear" >WATERFORD WEATHER</a>
<script>
   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<div class="uk-container uk-margin">
   <div class="uk-card uk-card-hover uk-child-width-*@s uk-flex-center uk-flex-middle uk-text-center uk-margin-small uk-padding-small" uk-grid>
      <h1 class="uk-background-muted uk-padding uk-panel uk-text-center">Welcome to Irish Heritage and Castles</h1>
      <div class="uk-width-1-2@m">
         <img width="600" src="images/castle-blarney-ireland-stone.jpg" alt="Blarney Castle" />
      </div>
      <div class="uk-width-1-2@m uk-text-left">
         <p>
            If you're lucky enough to be going on a trip away to the magical land of Ireland, I'm sure there are many things
            you're looking forward to doing and many places you're excited to visit. Ireland has many castles dotted about,
            with one never being any further than just a short trip away. However, with all this choice, you surely only want
            to visit the best ones. Whether its Medieval castles with those beautiful turrets, castles that carry their myth
            and legends and want to share some of your favourite castles, you have come to the right place.
         </p>
         {{> error }}
      </div>
   </div>
</div>
