<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
   {{> main-menu }}
</div>

<div class="uk-container uk-margin">
   <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
      <div class="uk-width-auto@m">
         <i class="fas fa-user-cog fa-9x" style="color:rgb(11,126,229)" ></i>
      </div>
      <div class="uk-width-expand@m">
         <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
            <h3 class="uk-card-title uk-text-center">Your Details: </h3>
            {{> settings-form }}
         </div>
      </div>
   </div>
</div>